
@{
    ViewData["Title"] = "Home Page";
}

<h1>Cadastrar</h1>
<hr />

<div class="conteiner">

    <div class="row">
        <div class="col-12">
            <form method="post">
                <input type="text" name="name" value="" />  <br/>
                <input type="submit" name="submit" value="Submit" />
            </form>
        </div>
    </div>


</div>