
@{
    ViewData["Title"] = "My Finance Web";
}

    <div class="text-center">
       <h2> Bem-vindos ao melhor sistema para você cuidar das suas finanças :)</h2>
       <p> <a href="https://github.com/ruthgabrielle">Ruth Gomes</a> </p>
    </div>

